<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>chat app</title>
  </head>
  <body onbeforeunload="return Triger_disconect()">
    <h2>Chat app</h2>
    Mensaje: <input type="text" id="myText">
    <button onclick="SendToServer()">Try it</button>
    <button onclick="Triger_disconect()" type="button" name="button">Disconect</button>
    <ul id = "chatView"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" charset="utf-8">
        var socket = io('http://127.0.0.1:5000');
        socket.on('connect', function() {
            console.log("conected");
            // TODO: let the server know my username and get room number into local storage
        });

        function Triger_disconect() {
          // TODO: send room number to disconect
          socket.emit('client_disconnecting', 'bye');
        }

        function SendToServer() {
          	socket.emit('new message',{message: document.getElementById("myText").value});
            document.getElementById("myText").value = ''
        }
        socket.on('incoming message', function(data){
          console.log(data['message']);
          var ul = document.getElementById("chatView");
          var li = document.createElement("li");
          li.appendChild(document.createTextNode(data['message']));
          ul.appendChild(li);
        });
    </script>
  </body>
</html>
